//--------------------------------------------
// GLOBAL STYLES (imports only)
//--------------------------------------------

@import "_partials/_bits";

/* DEFAULTS */
* {
  @include box-sizing(border-box);
}

html {
  font: 87.5%/1.5;
  @include font-stack-body;
  color: blue;
  background-color: $bg-color;

  // 480px
  @media (min-width: 30em) {
    font-size: 100%;
    // line-height: 1.6;
  }

  // 800px
  @media (min-width: 50em) {
    font-size: 112.5%;
    // line-height: 1.7;
  }

  // 1120px
  @media (min-width: 70em) {
    font-size: 125%;
    // line-height: 1.8;
  }
}

body {
  border-top: 5px solid red;
}

.wrapper {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 960px;
    margin: 0 auto; 
  }  
}

h1, h2, h3, h4, h5, h6 {
  @include font-stack-header;
  color: $Cheader;
}

h1 {
  font-size: 2rem;
}

.logo {
  background: #222;
  padding: $padding 0;
  text-align: center;
}

p {
  font-size: 0.8rem;
  color: $Cbody;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}

/* UTILITY CLASSES */
.center {
  text-align: center;
}

/* GENERAL STYLES */
.logo {
  margin: 0 auto;
  // border: 1px solid green;
  @include grid-col ("five sixth");
  
  @media (min-width: 30em) {
    @include grid-col ("two thirds");
  }
}

.mastheadIMG {
  
}


.opening {
  // border: 1px solid green;
  display: none;
  h2 {
    padding: 0.25rem;
    // background: yellow /* some big star image */;
    color: red;
  }
  @media (min-width: 30em) {
    @include grid-col ("one third");
    background: url(../img/openingstar.png) no-repeat top right;
    float: right;
  }
}


.lede {
  // border: 1px solid green;
  @include grid-col;
  margin: 0 0 0 2.25rem;
  @include clearfix;
  // padding: $padding;
  h1 {
    font-size: 1.25rem;
    @include font-stack-body;
    font-weight: 300;
    @media screen and (min-width: 768px) {
        text-align: center;
        font-size: 3rem;
      }
    span {
      margin: 0.5rem auto;
      color: $accent2;
    }
  }
}

.intro {
  background: $accent1;
  color: #fff;
  margin: 1rem 0;
  padding: $padding 0;
  box-shadow: inset 0 7px 10px rgba(black, 0.4);
  ul li {
    padding-bottom: $padding;
  }
}

.content {
  margin: 0 1rem;
  // border: 1px solid white;
}

.offer-nav {
  padding: $padding;
  text-align: center;
}








footer {
  background: black;
  p {
    font-size: 0.9rem;
    color: #666;
    padding: $padding;
    text-align: center;
  }
}














