//--------------------------------------------
// GLOBAL STYLES (imports only)
//--------------------------------------------

@import "_partials/_bits";

/* DEFAULTS */
* {
  @include box-sizing(border-box);
}

html, body {
}

body {
  width: 100%;
  background-color: $bg-color;
  border-top: 5px solid $accent1;
  // border-right: 3px solid blue;
  // border-bottom: 3px solid blue;
  // border-left: 3px solid blue;
  p {
    @include font-stack-body;
    color: #fff;
    font-size: 100%;
  }
  h1, h2, h3, h4, h5, h6, ul li {
    @extend p;
  }
}


/* UTILITY CLASSES */
.center {
  text-align: center;
}

/* SECTION STYLING */
section {
  width: 100%;
  // border: 2px solid purple;
}

[class*='-wrap'] {
  @media (min-width: 45rem) {
    max-width: 60rem;
    margin: 0 auto;
  }
  // border: 1px dashed pink;
}

.header-wrap {
  // border: 1px solid orange;
  .logo {
    text-align: center;
    margin: 1rem 0;
    // border: 1px solid red;
  }
}

.lede-wrap {
  p {
    @include font-stack-header;
    font-size: 1.65rem;
    line-height: 1.25;
    margin: 0 0 0 1.45rem;
    @media (min-width: 45rem) {
      font-size: 4rem;
      line-height: 1.15;
      margin: 0 0 0 3rem;
      // text-align: center;
    }
    span {
      color: yellow;
    }
  }
}

.query {
  background: red;
  box-shadow: inset 0 7px 10px rgba(0,0,0,.4);
  margin-top: 1rem;
}

.query-wrap {
  // border: 3px dotted black;
  padding-bottom: 0.5rem;
  h2 {
    font-size: 2rem;
    padding: 0.5rem 0 0 0;
  }
  ul li {
    width: 85%;
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
  }
  @media (min-width: 45rem) {
    ul {
      // width: 100%;
      margin: 0 auto;
      padding: 0 0 0 6rem;
    }
    ul li {
      width: 100%;
      // text-align: center;
      font-size: 1.5rem;
    }
  }
}

.main {
  @extend [class*='-wrap'];
  @include font-stack-body;
}

.setup {
  font-size: 90%;
  padding: 1rem 2rem 1rem 1rem;
  // p:first-of-type, &:first-line {
  //   font-size: 150%;
  //   font-weight: 600;
  // }
  h3 {
    font-size: 1.5rem;
    color: yellow;
  }
  span {
    color: red;
    letter-spacing: 0.2rem;
    font-variant: small-caps;
    font-weight: 700;
    padding: 0 0.25rem;
  }
  @media (min-width: 45rem) {
    max-width: 38rem;
    margin: 0 auto;
    p {
      font-size: 110%;
    }
    h3 {
      font-size: 2rem;
    }
  }
}

.info {
  @extend [class*='-wrap'];
  // margin: 0.25rem 0;
  // border: 3px solid red;
  overflow: hidden;
}

[class*='infobox-'] {
  margin: 0 2em;
  h2 {
    font-size: 2rem;
    color: yellow;
    margin: 0 0 -1rem 2rem;
  }
  p {
    font-size: 125%;
    margin: 0 2 rem 0 1rem;
    em {
      color: yellow;
    }
  }
  @media (min-width: 45rem) {
    margin: 0 0.35rem;
    // border: 1px solid yellow;
    width: 32%;
    float: left;
    h2 {
      text-align: center;
      margin: 0 0 -1rem 0;
    }
    p {
      // text-align: justify;
      margin-right: 1rem;
    }
  }
}

.takedown {
  @extend .setup;
}

/* GENERAL STYLES */

























