//--------------------------------------------
// BITS, VARIABLES, IMPORTS, MIXINS
//--------------------------------------------

/* IMPORTS */
@import "compass";
@import "normalize";
@import "button1";

/* DEFAULTS */
$gutter: 0.625rem;
$padding: $gutter;





/* VARIABLES */
$bg-color: #222;
$accent1: red;
$accent2: yellow;
$Cheader: #fff;
$Cbody: #fff;



/* MIXINS */
@mixin font-stack-header {
  font-family: "jaf-bernina-sans-condensed",sans-serif;
}

@mixin font-stack-body {
 font-family: "jaf-bernina-sans",sans-serif; 
}

